@font-face {
    font-family: "Avenir Black";
    src: url("Avenir-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Medium";
    src: url("Avenir-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Light";
    src: url("AvenirLTStd-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	width:  100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

.info {
	position: absolute;
	height: 65%;
	width: 55%;
	border-top: #f42941 44px solid;
	border-bottom: #f42941 44px solid;
	background-color: white;
	text-align: center;
}

.header {
	font-size: 2.2vw;
	font-family: "Avenir Black";
	padding-bottom: 10px;
}

#logo {
	/*position: absolute;*/
	/*left: 10px;*/
	height: 70px;
	padding-top: 12px;
}

.msg {
	/*text-align: left;*/
	font-size: 1.2vw;
	font-family: "Avenir Light";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}

.body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3vw;
	font-family: "Avenir Light";
	height: 30%;
	padding: 12px;
}

.site {
	font-family: "Avenir Medium";
	text-decoration: none;
}
.site:link {
color: #f42941;
}
.site:visited {
color: #a33038;
}
.site:hover {
color: #f42941;
}

.phone {
	font-size: 1.05vw;
}

.directions {
	font-size: 1.05vw;
	text-decoration: none;
}
.directions:link {
color: #f42941;
}
.directions:visited {
color: #a33038;
}
.directions:hover {
color: #f42941;
}

.footer {

}