@font-face {
    font-family: "Avenir Book";
    src: url("AvenirLTStd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Roman";
    src: url("AvenirLTStd-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Light";
    src: url("AvenirLTStd-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Medium";
    src: url("Avenir-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}