html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login {
	display: flex;
	flex-direction: column;
}

.message {
	position: absolute;
	top: 20%;
	font-size: 50px;
}

.lastActivity {
	position: absolute;
	top: 30%;
}